<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <!--default app settings-->
  <appSettings>
    <add key="ConnectionString" value="Data Source=.\SqlServer2016;Initial Catalog=Tourine;Integrated Security=true"/>
    <add key="TelegramToken" value="546328065:AAE0wviYKqxhAGCW7HAIlKU3LVlcvw7Ogbc" />
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="webPages:Enabled" value="false"/></appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add verb="*" path="*.*" type="System.Web.StaticFileHandler" name="files"/>
      <add path="api*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode"
        resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="sub route of angular" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/app.*" />
          </conditions>
          <action type="Rewrite" url="/app/" />
        </rule>
        <rule name="Root to Angular" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/$" />
          </conditions>
          <action type="Rewrite" url="/app" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Set no-cache to html and json files" preCondition="HtmlAndJsonFiles" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Cache-Control" pattern="*" />
          <action type="Rewrite" value="no-cache" />
        </rule>
        <rule name="Set 5 years caching for static files" preCondition="StaticFiles" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_Cache-Control" pattern="*" />
          <action type="Rewrite" value="max-age=157680000,public" />
        </rule>
        <preConditions>
          <preCondition name="HtmlAndJsonFiles">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|application/json)" />
          </preCondition>
          <preCondition name="StaticFiles">
            <add input="{URL}" pattern="(.js|.png|.jpeg|.jpg|.ico|.gif|.ttf|.woff|.woff2|.css|.mov|.avi)$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIDentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIDentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIDentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIDentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>